* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	color: rgba(0,0,0,.75);
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-weight: lighter;
	font-size: 3em;
}

h2 {
	font-weight: lighter;
	font-size: 2.5em;
}

h3 {
	font-weight: lighter;
	font-size: 1.5em;
}

p {
	font-family: 'Barlow', sans-serif;
	font-weight: lighter;
	font-size: 1em;
}

a {
	color: rgba(0,0,0,.75);
	text-decoration: none;
	border: none;
	font-size: 1em;
}

/*a.hover{
	color: black;
	text-decoration-line: unset;
	text-decoration-color: rgba(0,0,0,.9);
}*/

ul {
	text-align: center;
	list-style-type: none;
}

nav {
	text-align: right;
	padding: 1em 1em 2em 0em;
	height: 5vh;
	color: rgba(0,0,0,.75);
	text-decoration: none;
	border: none;
	font-size: 1em;
	text-transform: uppercase;
}

header {
	background: url("../images/BackgroundWaves1.jpg") no-repeat right fixed;
	background-size: cover;
	font-family: "Montserrat", sans-serif;
	font-weight: lighter;
	text-align: center;
	padding: 20em 0em;
	vertical-align: center;
	height: 95vh;
}

div {
}

section {
}

article {
}

footer {
	background-color: #222;
	color: #fff;
	padding: 1em;
	font-weight: lighter;
	text-align: center;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.links {
	margin: 1.5em 0em;
	font-size: 1em;
	font-family: "Montserrat", sans-serif;
	font-weight: lighter;
	color: rgba(0,0,0,.75);
	text-decoration: none;
	border: none;
	text-transform: none;
}

#UX {
	padding: 5em;
	color: #fff;
	background-color: #53CBDB;
}

#about {
	background-color: #fff;
	color: rgba(0,0,0,.75);;
	padding: 5em;
	background-origin: border-box;
	background: url("../images/BackgroundFlowers.jpg") no-repeat center fixed;
}

#portfolio {
	background-color: rgba(0,0,0,.75);
	color: #fff;
	padding: 5em;
}

#portfolio_cards {
	padding-top: : 10em;
	margin-top: : 10em;
	border: 1px solid black;
}

#card1, #card2, #card3 {
	width: 15em;
	height: 15em;
	border: 3px solid black;
	margin: 2em;
	text-align: center;
	float: right;
	width: 25%;
}

#skills {
	padding: 5em;
}

#two_column {
	padding: 2em;
}

#left {
	float: left;
	width: 30%;
}

#right {
	float: right;
	width: 62%;
}
